<div class="sns-share text-center md:text-left">
  <a class="sns-share__link-fb mr-8" href="">
    <i class="fab fa-facebook-square text-2xl" style="color: #333"></i>
  </a>
  <a class="sns-share__link-tw mr-8" href="">
    <i class="fab fa-twitter text-2xl" style="color: #333"></i>
  </a>
  <a class="sns-share__link-pint mr-8" href="">
    <i class="fab fa-pinterest text-2xl" style="color: #333"></i>
  </a>
</div>